
*{
    margin: 0px;
    padding: 0px; 
    font-family: 'Roboto Mono', monospace;
    
}

:root{
font-weight: 400;

}

.monkyType{
    --bg-color: #323437;
    --main-color: #e2b714;
    --caret-color: #e2b714;
    --sub-color: #646669;
    --sub-alt-color: #2c2e31;
    --text-color: #d1d0c5;
    --error-color: #ca4754;
    --error-extra-color: #7e2a33;
    --colorful-error-color: #ca4754;
    --colorful-error-extra-color: #7e2a33;
}
.retro{
    --bg-color: #dad3c1;
    --main-color: #1d1b17;
    --caret-color: #1d1b17;
    --sub-color: #646669;
    --sub-alt-color: #c8c3b3;
    --text-color: #1d1b17;
    --error-color: #bf616a;
    --error-extra-color: #793e44;
    --colorful-error-color: #bf616a;
    --colorful-error-extra-color: #793e44;
}
.pink{
    --bg-color: #fec8cd;
    --main-color: #fff;
    --caret-color: #fff;
    --sub-color: #a30000;
    --sub-alt-color: #f2babd;
    --text-color: #fff;
    --error-color: #2e7dde;
    --error-extra-color: #2e7dde;
    --colorful-error-color: #2e7dde;
    --colorful-error-extra-color: #2e7dde;
}
.darknote{
    --bg-color: #1f1f1f;
    --main-color: #f2c17b;
    --caret-color: #e3dce0;
    --sub-color: #768f95;
    --sub-alt-color: #141414;
    --text-color: #d2dff4;
    --error-color: red;
    --error-extra-color: #588498;
    --colorful-error-color: var(--error-color);
    --colorful-error-extra-color: var(--error-extra-color);
    --theme-bg-stripe-color: #434653;
    --theme-bg-stripe-opacity: 0.1;
    --theme-accent-stripe-color: #bf8200;
    --current-color: var(--text-color);
}


textbody{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 1.6rem;
   
    
       
}
letter{
    color:var(--sub-color) ;
    border-left: 0.11em solid  ;
    border-color: rgba(0,0,0,0);
    display: inline-block;
    width: 14.44px;
    height: 25px;
    text-align: center;
    border-radius: 2px!important;
}
body{
    transition: all 0.500s ease-in-out;
    background-color: var(--bg-color);
}
word{
    margin: 0.25em

    
}
.correct{
    color: var(--text-color);


}
#activeLitter{
    border-left: 0.11em solid var(--caret-color) ;

}

.incorrect{
    color: var(--error-color);



}
.reset{

    border-radius: 6px;
    display: inline;
  
      color: var(--sub-color);
      font-size: large;
      cursor: pointer;
      padding: 16px;


}
.reset:hover{
    color: var(--main-color);
transition: color  0.300s linear;

}
.reset:active{
    color: var(--caret-color);
    
transition: color 0.300s ease-in-out,background 0.300s ease-in-out;

}
#incorrectword{
    border-bottom: 0.1em solid var(--error-color) ;


}

.ruslt{
    color: #e2b714;
    font-size: large;
    font-family: sans-serif;
}
timer{
       color:var(--main-color);
width:4rem;
    font-size:24px;
    display: inline-block;
    width: 14.44px;
    height: 25px;
    text-align: center;
    border-radius: 2px!important;
    transition: .125s;
    font-family: 'Roboto Mono', monospace;
    

}

.container{
    width: 70%;
    padding: 1rem;
  min-height: 9vh;
   margin: auto;
}
.time-container{
    display: flex;
    align-items: center;
    
    border-radius: 6px;

width: fit-content;
margin: auto;
 padding: 0.3rem 1rem;
font-size: 0.75rem;
background-color: var(--sub-alt-color);
color:var(--sub-color);
font-weight: 500;
}
.time{
    color: #646669;
}
.saprator{
    border-right: 4px solid var(--bg-color);
    width: 1px;
    height:22px ;
margin: 0 1rem ;
}
.time:hover{
    color: #d1d0c5;
    cursor: pointer;
    color: var(--text-color);
transition: color 0.128s linear;

}

.time-wrapber{
    cursor: default;
    color: var(--sub-color);
}


interacthoin{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: space-between;
}
 .activeTime{
    color: var(--main-color);
    font-weight: bold;

}
.activeTime:hover{
    color: var(--main-color);
}
.logo{
    cursor: pointer;
    
    font-weight: 500;
    
    color: var(--text-color);
 
}
.res-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.wraber{
    display: inline;
    display: flex;
    gap: 2rem;
}

#rusltbord{

    display: none;
   color: var(--sub-color);
   max-width: 900px;
   margin: auto;
   gap: 2rem;
  grid-template-columns: repeat(4,1fr);
  animation: fadeIn 0.500s ease  ;
   grid-template-areas: " wpm acc acc acc"
                        " raw tm ct ct ";
   
}
.wpmele{
    grid-area: wpm;
font-size: 3.5rem;


}
 .accele{
    grid-area:acc;
    font-size: 3.5rem;

}
 .rawele{
    grid-area: raw;
    font-size: 1.5rem;


}
 .tmele{
    grid-area: tm;
    font-size: 1.5rem;

}
 .ctele{
    grid-area: ct;
    font-size: 1.5rem;


}
@media only screen and (max-width: 600px) {
    #rusltbord{
        grid-template-areas: 
        "wpm"
        "acc"
        "raw"
        "tm"
        "ct"
        ;
        
    }
    .logo{
        text-align: center;
    }
  }



.top{
    color: var(--active-word-color);

}
.bottom{
    color: var(--main-color);

}
.alert{
    background-color: #e2b714;
    color: var(--bg-color);
    display: flex;
    font-size: 1em;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    font-weight: bold;
}

.alert p{
    display: inline;
    font-weight:normal;

}
.close{
    font-size: large;
    color: var(--bg-color);

margin:  auto 0.7rem; 
   cursor: pointer;


}
.acc{
    color: var(--main-color);
}
header{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin:auto;
    margin-bottom: 10rem;
  margin-top: 2rem;
}
.cart{}
.cart { animation: fadeIn 0.500s ease  ;  }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

.hide{
    display: none;
}
  
ul{
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.thm{
    margin-top: 1rem;
    cursor: pointer;
 
}
